


        </div>

        <footer>

            <p>&nbsp</p>
        </footer>

        <!--Bootstrap JS CDN-->
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

        <script>
            // https://www.toddlahman.com/prevent-duplicate-form-submissions-with-jquery/
            jQuery('form').submit(function(){
                $(this).find(':submit').attr( 'disabled','disabled' );
            });
        </script>
    </body>
</html>
