<!DOCTYPE>
<html>
    <head>
        <!--Make site responsive on mobile/tablet-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>McNaughton March Madness</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Holtwood+One+SC' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/stylesheets/main.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    
    <% include navBar %>   
        
    <div class="container">
        
   
       
  