<!DOCTYPE>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Holtwood+One+SC' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script|Herr+Von+Muellerhoff' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Istok+Web|Roboto+Condensed:700' rel='stylesheet' type='text/css'>
	<title>March Madness Stock Matchup</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bracketPages.css">
</head>
<body>
<h1>2013 NCAA Tournament - Midwest Bracket</h1>
<main id="tournament">
    <div class="container-fluid" style="padding-bottom: 50px; min-height: 300px">
        <div class="row">
            <!--bracket = "_3xqV1"-->
            <div class="col-xs-12 bracket"> 
            
            
                <!--bracketContents = "sFIGM"-->
                <!--leftSide = "pMJWF"-->
                <div class="bracketContents leftSide">
                    <!--bracketQuadrant = "_1hQFd"-->
                    <!--bracketRegion = "_3z2NV"-->
                    <!--topRegion = "_3_DaP"-->
                    <div class="bracketQuadrant bracketRegion topRegion">
                        <!--regionLocation = _3FcXM-->
                        <h2 class="regionLocation">East</h2>
                        <div>
                            <!--regionRounds = "_3s8JZ": 1 per region--> 
                            <div class="regionRounds">
                                <!--oneRound = aZ3XJ: 5 per region-->
                                <div class="oneRound">
                                    <!--match = _3MiK3: variable per round -->
                                    <div class="match">
                                        <!--team = gNKMM-->
                                        <div class="team">
                                            <!--teamTitle = DQvkH-->
                                            <div class="teamTitle">
                                                <!--seed = "_3Z4EI"-->
                                                <span class="seed">1</span>
                                                <!--teamName = "_3SRIZ"-->
                                                <span class="teamName">Lousville</span>
                                            </div>
                                        </div>
                                        <!--team = gNKMM-->
                                        <div class="team">
                                            <!--teamTitle = DQvkH-->
                                            <div class="teamTitle">
                                                <!--seed = "_3Z4EI"-->
                                                <span class="seed">16</span>
                                                <!--teamName = "_3SRIZ"-->
                                                <span class="teamName">UNC</span>
                                            </div>
                                            <!--endTeamTitle-->
                                        </div>
                                        <!--endTeam-->
                                    </div>
                                    <!--endMatch-->
                                </div>  
                                <!--endOneRound-->
                                
                            </div>
                            <!--endRegionRounds-->
                        </div>
                        <!--endRegionLocation-->
                    </div>
                    
                    
                    <!--bracketQuadrant = "_1hQFd"-->
                    <!--bracketRegion = "_3z2NV"-->
                    <!--bottomRegion = "_3zYlu"-->
                    <div class="bracketQuadrant bracketRegion bottomRegion">
                         <!--regionLocation = _3FcXM-->
                         <h2 class="regionLocation">West</h2>
                         <div>
                            <!--regionRounds = "_3s8JZ"-->
                            <div class="regionRounds">
                                
                            </div>
                        </div>
                    </div>
                   
                   
                </div>
                 <!--bracketContents = "sFIGM"-->
                <!--rightSide = "_17GBC"-->
                <div class="bracketContents rightSide">
                    <!--bracketQuadrant = "_1hQFd"-->
                    <!--bracketRegion = "_3z2NV"-->
                    <!--topRegion = "_3_DaP"-->
                    <div class="bracketQuadrant bracketRegion topRegion">
                        <!--regionLocation = _3FcXM-->
                        <h2 class="regionLocation">Midwest</h2>
                        <div>
                            <!--regionRounds = "_3s8JZ"-->
                            <div class="regionRounds">
                                
                            </div>
                        </div>
                    </div>
                    <!--bracketQuadrant = "_1hQFd"-->
                    <!--bracketRegion = "_3z2NV"-->
                    <!--bottomRegion = "_3zYlu"-->
                    <div class="bracketQuadrant bracketRegion bottomRegion">
                        <!--regionLocation = _3FcXM-->
                        <h2 class="regionLocation">South</h2>
                        <div>
                            <!--regionRounds = "_3s8JZ"-->
                            <div class="regionRounds">
                                
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
                
                
                
                 <!--bracketContents = "sFIGM"-->
                <!--championshipSide = "_8asn_"-->
                <div class="bracketContents championshipSide">
                    <!--bracketQuadrant = "_1hQFd"-->
                    <!--centerRegion = "dfBsL"-->
                    <div class="bracketQuadrant centerRegion">
                        <!--regionLocation = _3FcXM-->
                        <h2 class="regionLocation">Final Four</h2>
                        <div>
                            <!--regionRounds = "_3s8JZ"-->
                            <div class="regionRounds">
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
           
        </div>
        
        
       
    </div>
      
</main>