*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin: 0 0 100px 0;
    display: block;
}

/*bracketClub line 7571*/
/*bracket = "_3xqV1"*/
.bracket{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 1em
}

/*bracketClub line 7584*/
/*bracket = "_3xqV1"*/
@media screen and (min-width: 992px) {
    .bracket {
        -ms-flex-wrap:none;
        flex-wrap: none
    }
}

/*bracketClub line 7591*/
/*bracketContents = "sFIGM"*/
.bracketContents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%
}

/*bracketClub line 7602*/
/*bracketContents = "sFIGM"*/
@media screen and (min-width: 992px) {
    .bracketContents {
        width:45%
    }

    ._33faZ .bracketContents {
        width: 50%
    }
}

/*bracketClub line 7602*/
/*bracketQuadrant = "_1hQFd"*/
.bracketQuadrant {
    position: relative;
    margin-bottom: 1em
}

/*bracketClub line 7617*/
/*rightSide = "_17GBC"*/
/*leftSide = "pMJWF"*/
/*bracketQuadrant = "_1hQFd"*/
/*topRegion = "_3_DaP"*/
/*bottomRegion = "_3zYlu"*/
@media screen and (min-width: 992px) {
    .bracketQuadrant.topRegion {
        margin-bottom:1em
    }

    .bracketQuadrant.bottomRegion {
        margin-bottom: 0;
        margin-top: 1em
    }

    .leftSide .bracketQuadrant.topRegion:after {
        right: 0
    }

    .rightSide .bracketQuadrant.topRegion:after,.leftSide .bracketQuadrant.topRegion:after {
        content: " ";
        position: absolute;
        width: 1px;
        background: #ddd;
        height: calc(100% + 2em);
        top: 50%
    }

    .rightSide .bracketQuadrant.topRegion:after {
        left: 0
    }
}

/*bracketClub line 7645*/
/*regionLocation = _3FcXm*/
.regionLocation {
    margin: 0;
    font-size: 18px
}

/*bracketClub line 7650*/
/*regionLocation = _3FcXm*/
@media screen and (min-width: 992px) {
    .regionLocation {
        position:absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        padding-right: .5em
    }
}

/*bracketClub line 7660*/
/*bracketRegion = "_3z2NV"*/
/*centerRegion = "dfBsL"*/
/*regionLocation = _3FcXm*/
@media screen and (min-width: 992px) {
    ._61LDI .regionLocation {
        left:auto;
        right: auto;
        right: 50%
    }

    .centerRegion .regionLocation {
        left: auto;
        right: auto;
        right: 33.333333333333336%
    }

    ._1qo06 .regionLocation {
        left: auto;
        right: auto;
        right: 25%
    }

    .bracketRegion .regionLocation {
        left: auto;
        right: auto;
        right: 20%
    }

    ._3WTEQ .regionLocation {
        left: auto;
        right: auto;
        right: 16.666666666666664%
    }
}

/*bracketClub line 7692*/
/*regionRounds = "_3s8JZ"*/
/*oneRound = aZ3XJ*/
.regionRounds,.oneRound {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

/*bracketClub line 7698*/
/*oneRound = aZ3XJ*/
.oneRound {
    width: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: .5em;
    padding-right: .5em
}

/*bracketClub line 7711*/
/*oneRound = aZ3XJ*/
.oneRound:first-child {
    padding-left: 0
}

/*bracketClub line 7715*/
/*oneRound = aZ3XJ*/
.oneRound:last-child {
    padding-right: 0
}

/*bracketClub line 7719*/
/*leftSide = "pMJWF"*/
/*rightSide = "_17GBC"*/
/*oneRound = aZ3XJ*/
@media screen and (min-width: 992px) {
    .leftSide .oneRound:last-child {
        padding-right:.5em
    }

    .rightSide .oneRound:first-child {
        padding-right: 0;
        padding-left: .5em
    }

    .rightSide .oneRound:last-child {
        padding-right: .5em;
        padding-left: .5em
    }
}

/*bracketClub line 7735*/
/*match = ._3MiK3*/
.match {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: relative;
    padding-top: .5em;
    padding-bottom: .5em
}

/*bracketClub line 7753*/
/*topRegion = "_3_DaP"*/
/*oneRound = aZ3XJ*/
/*match = _3MiK3*/
.topRegion .oneRound:last-child .match {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 0;
    margin-bottom: 0
}

/*bracketClub line 7761*/
/*bottomRegion = "_3zYlu"*/
/*oneRound = aZ3XJ*/
/*match = _3MiK3*/
.bottomRegion .oneRound:last-child .match {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 0;
    margin-top: 0
}

/*bracketClub line 7769*/
/*oneRound = aZ3XJ*/
/*match = _3MiK3*/
.sFIGM .oneRound:first-child .match:before {
    content: " ";
    position: absolute;
    border-right: 1px solid #ddd;
    border-left: none;
    top: calc(50% - .125em - 15px);
    height: calc(.25em + 30px);
    right: -.5em;
    left: 0
}

/*bracketClub line 7780*/
/*oneRound = aZ3XJ*/
/*match = _3MiK3*/
.sFIGM .oneRound:not(:first-child):not(:last-child) .match:before {
    content: " ";
    position: absolute;
    border-right: 1px solid #ddd;
    border-left: none;
    top: 25%;
    height: 50%;
    right: -.5em;
    left: 0
}

/*bracketClub line 7791*/
/*rightSide = "_17GBC"*/
/*oneRound = aZ3XJ*/
/*match = _3MiK3*/
@media screen and (min-width: 992px) {
    .rightSide .oneRound:first-child .match:before {
        content:" ";
        position: absolute;
        border-left: 1px solid #ddd;
        border-right: none;
        top: calc(50% - .125em - 15px);
        height: calc(.25em + 30px);
        left: -.5em;
        right: 0
    }

    .rightSide .oneRound:not(:first-child):not(:last-child) .match:before {
        content: " ";
        position: absolute;
        border-left: 1px solid #ddd;
        border-right: none;
        top: 25%;
        height: 50%;
        left: -.5em;
        right: 0
    }
}

/*bracketClub line 7815*/
/*team = gNKMM*/
.team {
    position: relative;
    height: 30px
}

/*bracketClub line 7820*/
/*oneRound = aZ3XJ*/
/*team = gNKMM*/
.oneRound:first-child .team:first-child {
    margin-bottom: .25em
}

/*bracketClub line 7824*/
/*oneRound = aZ3XJ*/
/*match = _3MiK3*/
/*team = gNKMM*/
.oneRound:not(:first-child):not(:last-child) .match .team:first-child {
    margin-top: -.5em
}

/*bracketClub line 7828*/
/*oneRound = aZ3XJ*/
/*match = _3MiK3*/
/*team = gNKMM*/
.oneRound:not(:first-child):not(:last-child) .match .team:last-child {
    margin-bottom: -.5em
}

/*bracketClub line 7832*/
/*topRegion = "_3_DaP"*/
/*oneRound = aZ3XJ*/
/*match = _3MiK3*/
/*team = gNKMM*/
.topRegion .oneRound:last-child .match .team {
    margin-top: -.5em
}

/*bracketClub line 7836*/
/*bottomRegion = "_3zYlu"*/
/*oneRound = aZ3XJ*/
/*match = _3MiK3*/
/*team = gNKMM*/
.bottomRegion .oneRound:last-child .match .team {
    margin-bottom: -.5em
}

/*bracketClub line 7840*/
/*oneRound = aZ3XJ*/
/*team = gNKMM*/
.oneRound:first-child .team:after {
    content: " ";
    position: absolute;
    height: 1px;
    width: .5em;
    background: #ddd;
    top: 50%;
    right: -.5em;
    left: auto
}

/*bracketClub line 7851*/
/*oneRound = aZ3XJ*/
/*team = gNKMM*/
.oneRound:last-child .team:before,.oneRound:not(:first-child):not(:last-child) .team:before {
    content: " ";
    position: absolute;
    height: 1px;
    width: .5em;
    background: #ddd;
    top: 50%;
    left: -.5em;
    right: auto
}

/*bracketClub line 7862*/
/*oneRound = aZ3XJ*/
/*team = gNKMM*/
.oneRound:not(:first-child):not(:last-child) .team:after {
    content: " ";
    position: absolute;
    height: 1px;
    width: .5em;
    background: #ddd;
    top: 50%;
    right: -.5em;
    left: auto
}

/*bracketClub line 7873*/
/*rightSide = "_17GBC"*/
/*oneRound = aZ3XJ*/
/*team = gNKMM*/
@media screen and (min-width: 992px) {
    .oneRound:last-child .team:after {
        content:" ";
        position: absolute;
        height: 1px;
        width: .5em;
        background: #ddd;
        top: 50%;
        right: -.5em;
        left: auto
    }

    .rightSide .oneRound:first-child .team:after,.rightSide .oneRound:last-child .team:before {
        content: " ";
        position: absolute;
        height: 1px;
        width: .5em;
        background: #ddd;
        top: 50%;
        left: -.5em;
        right: auto
    }
}

/*bracketClub line 7897*/
/*seed = "_3Z4EI"*/
.seed {
    font-size: .8em
}

/*bracketClub line 7901*/
/*teamName = "_3SRIZ"*/
/*seed = "_3Z4EI"*/
.teamName,.seed {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto
}

/*bracketClub line 7907*/
/*teamName = "_3SRIZ"*/
.teamName {
    padding-left: .3em;
    min-width: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

/*bracketClub line 7976*/
/*teamTitle = DQvkH*/
.teamTitle {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0 .25em;
    border: 1px solid #ddd;
    font-size: 1em;
    line-height: 2em;
    background: #fff
}

/*bracketClub line 7993*/
/*teamTitle = DQvkH*/
.teamTitle.pyVLs {
    cursor: pointer
}

/*bracketClub line 7997*/
/*teamTitle = DQvkH*/
.teamTitle.pyVLs:hover {
    text-decoration: none;
    background: #e95420;
    color: #fff
}

/*bracketClub line 8003*/
/*teamTitle = DQvkH*/
.teamTitle._3wT0L,.teamTitle.S_l9v {
    text-decoration: line-through
}

/*bracketClub line 8007*/
/*teamTitle = DQvkH*/
.teamTitle._3wT0L {
    background: #df382c
}

/*bracketClub line 8011*/
/*teamTitle = DQvkH*/
.teamTitle._3wT0L .pIPpI {
    color: #333
}

/*bracketClub line 8015*/
/*teamTitle = DQvkH*/
.teamTitle._194PJ {
    background: #38b44a
}

/*bracketClub line 8019*/
/*teamTitle = DQvkH*/
.teamTitle._194PJ .pIPpI {
    color: #333
}

/*bracketClub line 8023*/
/*teamTitle = DQvkH*/
.teamTitle._7FN-y {
    position: absolute;
    top: -14px;
    left: 0;
    border: none;
    background: transparent;
    width: 100%;
    font-size: .8em!important;
    line-height: 1em!important
}

/*bracketClub line 8056*/
/*rightSide = "_17GBC"*/
/*bracketRegion = "_3z2NV"*/
/*centerRegion = "dfBsL"*/
/*regionLocation = _3FcXm*/
/*regionRounds = "_3s8JZ"*/
/*teamTitle = DQvkH*/
/*teamName = "_3SRIZ"*/
@media screen and (min-width: 992px) {
    .rightSide {
        text-align:right
    }

    .rightSide ._61LDI .regionLocation {
        left: auto;
        right: auto;
        left: 50%
    }

    .rightSide .centerRegion .regionLocation {
        left: auto;
        right: auto;
        left: 33.333333333333336%
    }

    .rightSide ._1qo06 .regionLocation {
        left: auto;
        right: auto;
        left: 25%
    }

    .rightSide .bracketRegion .regionLocation {
        left: auto;
        right: auto;
        left: 20%
    }

    .rightSide ._3WTEQ .regionLocation {
        left: auto;
        right: auto;
        left: 16.666666666666664%
    }

    .rightSide .regionLocation {
        right: auto;
        padding-right: 0;
        padding-left: .5em
    }

    .rightSide .regionRounds,.rightSide .teamTitle {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }

    .rightSide .teamTitle._7FN-y {
        left: auto;
        right: 0
    }

    .rightSide .teamName,.rightSide .pIPpI {
        padding-left: 0;
        padding-right: .3em
    }

    .rightSide .pIPpI {
        margin-right: auto;
        margin-left: 0
    }
}



/*bracketClub line 8120*/
/*regionRounds = "_3s8JZ"*/
/*oneRound = aZ3XJ*/
@media screen and (max-width: 500px) {
    .regionRounds {
        overflow-x:scroll;
        -webkit-overflow-scrolling: touch;
        -webkit-scroll-snap-points-x: repeat(50%);
        -ms-scroll-snap-points-x: repeat(50%);
        scroll-snap-points-x: repeat(50%);
        -webkit-scroll-snap-type: mandatory;
        -ms-scroll-snap-type: mandatory;
        scroll-snap-type: mandatory
    }

    .oneRound {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
        flex: 1 0 50%
    }
}

/*bracketClub line 8139*/
/*championshipSide = "_8asn_"*/
/*regionLocation = _3FcXm*/
/*regionRounds = "_3s8JZ"*/
/*oneRound = aZ3XJ*/
/*match = _3MiK3*/
/*team = gNKMM*/
/*teamTitle = DQvkH*/
/*teamName = "_3SRIZ"*/
@media screen and (min-width: 992px) {
    .championshipSide {
        width:auto!important;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%)
    }

    ._33faZ .championshipSide {
        -webkit-transform: translateY(calc(-50% + 4em)) translateX(-50%);
        transform: translateY(calc(-50% + 4em)) translateX(-50%)
    }

    .championshipSide .regionLocation {
        display: none
    }

    .championshipSide .regionRounds {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .championshipSide .oneRound {
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        padding-left: 0;
        padding-right: 0
    }

    .championshipSide .oneRound:first-child {
        display: none
    }

    .championshipSide .match:after,.championshipSide .match:before,.championshipSide .team:after,.championshipSide .team:before {
        display: none!important
    }

    .championshipSide .match {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: unset;
        flex-direction: unset;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-top: 0;
        padding-bottom: 0
    }

    .championshipSide .team {
        min-width: 5vw;
        max-width: 10vw;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        margin-top: 0!important;
        margin-bottom: 0!important
    }

    .championshipSide .teamTitle {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .championshipSide .oneRound:not(:last-child) {
        margin-bottom: 1em
    }

    .championshipSide .oneRound:not(:last-child) .team:first-child {
        margin-right: .5em
    }

    .championshipSide .oneRound:not(:last-child) .team:last-child {
        margin-left: .5em
    }

    .championshipSide .oneRound:not(:last-child) .team .pIPpI {
        margin-left: 0;
        margin-right: 0
    }

    .championshipSide .oneRound:not(:last-child) .team:last-child .teamTitle {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }

    .championshipSide .oneRound:not(:last-child) .team:last-child .teamName,.championshipSide .oneRound:not(:last-child) .team:last-child .pIPpI {
        padding-left: 0;
        padding-right: .3em
    }

    .championshipSide .oneRound:last-child .match {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .championshipSide .oneRound:last-child .team {
        height: auto;
        min-width: calc(10vw + 1em);
        max-width: calc(20vw + 1em)
    }

    ._33faZ .championshipSide .oneRound:last-child .team {
        min-width: 20vw;
        max-width: 23vw
    }

    .championshipSide .oneRound:last-child .teamTitle {
        width: auto;
        padding: 0 .5em;
        font-size: 2em
    }

    .championshipSide .oneRound:last-child .teamTitle._7FN-y {
        top: auto;
        bottom: -14px;
        right: 0;
        left: 0
    }
}




/*.container-fluid {*/
    
/*}*/


/*
 *  Flex Layout Specifics
*/
/*main{*/
/*  display:flex;*/
/*  flex-direction:row;*/
/*}*/
/*.round{*/
/*  display:flex;*/
/*  flex-direction:column;*/
/*  justify-content:center;*/
  /*width: 200px;*/
/*  width: 0;   */
  /*width: 10%;   */
/*  list-style:none;*/
/*  padding-left: 0.5em;*/
/*  padding-right: 0.5em;*/
/*  flex: 1 1 auto;*/
/*}*/
/*.round .spacer{*/
/*    flex-grow:1;*/
/*}*/
/*.round .spacer:first-child, .round .spacer:last-child{*/
/*    flex-grow:.5;*/
/*}*/

/*.round .game-spacer{*/
/*flex-grow:1;*/
/*}*/

/*
 *  General Styles
*/
/*body{*/
  /*font-family:sans-serif;*/
/*  font-size:small;*/
/*  padding:10px;*/
/*  line-height:1.4em;*/
  
/*  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;*/
    /*font-size: 14px;*/
    /*line-height: 1.42857143;*/
/*    color: #333;*/
/*    background-color: #fff;*/
/*}*/


/*.outerContainer {*/
/*    position: relative;*/
/*    display: -webkit-box;*/
/*    display: -ms-flexbox;*/
/*    display: flex;*/
/*    -webkit-box-pack: justify;*/
/*    -ms-flex-pack: justify;*/
/*    justify-content: space-between;*/
/*    -ms-flex-wrap: wrap;*/
/*    flex-wrap: wrap;*/
/*    margin-top: 1em;*/
/*}*/

/*li.game{*/
/*  padding-left:20px;*/
/*}*/

/*li.game.winner{*/
/*    font-weight:bold;*/
/*}*/
/*li.game span{*/
/*    float:right;*/
/*    margin-right:5px;*/
/*}*/

/*li.game-top{*/
/*  border-bottom:1px solid #aaa; */
  /*border: 1px solid #aaa;*/
/*}*/

/*li.game-spacer{ */
/*    border-right:1px solid #aaa;*/
/*    min-height:40px;*/
/*}*/

/*li.game-bottom{ */
/*    border-top:1px solid #aaa;*/
    /*border: 1px solid #aaa;*/
/*}*/