body {
    background-color: #000;
}

#landing-header{
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 38vh;
}

#landing-header h1{
    color: #fff;
    text-shadow: 2px 2px #000000;
}

.btn-primary {
    background-color: #004284;
    border-color: #004284;
}


.slideshow{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) { 
  background-image: url(https://images.unsplash.com/photo-1489956152110-c70feae4150b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7f16caba8e90beee64cd7f461f81bf24&auto=format&fit=crop&w=1500&q=80);
  background-position: 50% 70%;
}
.slideshow li:nth-child(2) { 
  background-image: url(https://cdn.pixabay.com/photo/2017/04/25/05/45/basketball-2258651_960_720.jpg);
  background-position: 50% 50%;
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(http://static6.businessinsider.com/image/5703c3f69105844e018babd4/the-villanova-player-who-hit-the-incredible-buzzer-beater-to-win-the-ncaa-championship-wasnt-even-supposed-to-take-the-final-shot.jpg);
  background-position: 50% 70%;
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://cdn.pixabay.com/photo/2013/03/21/15/52/basketball-95607_960_720.jpg);
  background-position: 50% 60%;
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://fortunedotcom.files.wordpress.com/2016/04/rtsdlnm.jpg);
  background-position: 50% 100%;
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}



/*====================================================*/
/*    bracketIcons on tournamentGroup/Landing page    */
/*====================================================*/

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?y8wlow');
  src:  url('fonts/icomoon.eot?y8wlow#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?y8wlow') format('truetype'),
    url('fonts/icomoon.woff?y8wlow') format('woff'),
    url('fonts/icomoon.svg?y8wlow#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 2.5em;
  /*margin-right: -0.4em;*/
  position: relative;
  top: 0.28em;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bracketLeft:before {
  content: "\e900";
  padding-left: .4em;
}
.icon-bracketRight:before {
  content: "\e901";
}

.jumbotron.hero {
    background: none;
    margin: 0;
    padding: 0;

}
.hero {
    position:relative;
    text-align: center;
    overflow: hidden; 
    color: #fcfcfc; 
}

.hero h1 {
    font-family: 'Holtwood One SC', serif;
    font-weight: normal;
    font-size: 5.4em;
    margin:0 0 0px;
    text-shadow:0 0 12px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;letter-spacing:-1px;
    
}
.hero p {
    font-family: 'Abel', sans-serif;text-transform: uppercase;
    color: #FFA705; letter-spacing: .4em;
    text-shadow:0 0 12px rgba(0, 0, 0, 0.5);
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0px;
}
.hero .intro {
    font-family: 'Holtwood One SC', serif;
    text-transform: uppercase;
    letter-spacing: 1px;font-size: 2.2em;
    margin-bottom:-10px;
}
.hero .year {
    color: #fff;
    letter-spacing: 20px;
    font-size: 2em;
    margin: -50px 0px 0px -10px;
}