
.thumbnail img{
    width: 100%;
}
.thumbnail {
    padding: 0;
}
.delete-form{
    display: inline;
}
.login-form{
    width: 30%; 
    min-width: 275px;
    margin: 25px auto;
}
.itemDisplay{
    /*display: flex; */
    /*flex-wrap: wrap;*/
    list-style-type: none;
}
.thumbnail {
    border: 0 none;
    box-shadow: none;
  
}
.groupInformation{
    border: 2px solid #333;
    border-radius: 10px;
    padding: 5px;
    margin: 0 0 40px;
}
.groupDescription h4, .groupDescription h5, .groupDescription h6{
    margin: 3px;
    display: inline-block;
}
.groupDescription{
    text-align: justify;
}
.groupDescription p {
    margin-top: 10px;
    display: block;
    text-align: left;
}
.viewGroupButton{
    width: 100%;
    margin: 0 auto;
}

.column {
    float: left;
    width: 17%;
    margin-left: 4%;
    margin-right: 4%;
}

.form-header {
    width: 30%; 
    margin: 25px auto;
}
.field-spacing {
   margin-bottom: 15px; 
}

.region-field{
  background-color : #f2f5ff; 
}


.btn-primary {
    background-color: #004284;
    border-color: #004284;
}

.btn-success{
    background-color: #1FA52F;
    border-color: #1FA52F;
}



form.teamPicker{
    max-width: 100%;
    font-size: 1.3em;
}


.teamTitle .pickerImage {
    margin-top: 1px;
    height: 30px; 
    width: 30px; 
    margin-right: 2px;
    margin-left: -1px;
}



input[type=radio],
.radio {
  float: left;
}



/*===========================================*/
/*                HOME PAGE                  */
/*===========================================*/
.general-gameplay{
    background-color: rgba(0,90,180, 0.8);
    color: black;
}

.general-gameplay > .jumbotron.hero {
    background: none;
    padding: 50px 0 0;
    margin-top: 1em;
}


@media screen and (min-width: 992px) {
    #tournament > .jumbotron.hero {
        position: absolute;
        /*background: none;*/
        padding: 20px 0 20px;
        margin: 5.5em -12.5% 0;
        width: 25%;
        left: 50%;
        z-index: 1;
        border-radius: 20px;
        font-size: .9em;
    }
}

.homeBackground{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-image: url("/imgs/wood-floor-compress.jpg");
    background-repeat: no-repeat;
    z-index: 0;
    background-position: center center;

}

.introduction{
    width: 1000px;
    max-width: 100%;
    color: white;
    font-size: 1.1em;
}

#bracketOptions .bracketContents{
    width: 80%;
    margin: -10 auto;
    text-align: center;
}

#bracketOptions .oneRound:last-child .team:after {
    height: 0;
}

#bracketOptions .team:last-child-of {
    /*margin: 10px 0 ;*/
    display: block;
    /*height: 90px;*/
}

#bracketOptions .team {
    /*margin: 10px 0 ;*/
    display: block;
    height: 90px;
}

#bracketOptions .teamTitle {
    display: block;
}


/*left column top team*/
#bracketOptions .oneRound:first-child .team:first-child {
    margin: 0.5em 0 0;
    padding: 8px 0;
}
/*left column bottom team*/
#bracketOptions .oneRound:first-child .team:last-child {
    margin: 0.5em 0 0em;
    height: 95px;
    padding: 8px 0;
}

/*left column vertical bar*/
#bracketOptions .bracketContents .oneRound:first-child .match:before {
    top: 40px;
    height: 100px
}
/*left column horizontal bar*/
#bracketOptions .oneRound:first-child .team:after {
    top: 29%;
}




/*middle column top team*/
#bracketOptions .oneRound:not(:first-child):not(:last-child) .match .team:first-child {
    margin-top: -.9em;
    height: 70px;
    
}

/*middle column lower team*/
#bracketOptions .oneRound:not(:first-child):not(:last-child) .match .team:last-child{
    margin-bottom: .9em;
    /*padding: 0 0 15px;*/
    height: 70px;
}

/*middle column left horizontal bar*/
#bracketOptions .oneRound:not(:first-child):not(:last-child) .team:before{
    top: 44%
}

/*middle column right horizontal bar*/
#bracketOptions .oneRound:not(:first-child):not(:last-child) .team:after{
    top: 44%;
}

/*middle colum right vertical bar*/
#bracketOptions .bracketContents .oneRound:not(:first-child):not(:last-child) .match:before{
    top: 19%;
    height: 100px;
}


#bracketOptions .oneRound:last-child .team {
    height: 60px;
    margin-top: -2.5em;
}

#bracketOptions .oneRound:last-child .team:before{
    top: 50%;
}


#bracketOptions .homeLink {
    font-size: 1em;
    font-weight: 700;
    color: rgb(0,25,50);
}

#bracketOptions .homeSubheading {
    font-size: 1em;
    color: #5b6c77;
}

#bracketOptions {
    padding: 50px;
}



/*===========================================*/
/*Basic Tournament Standings Table Styles*/
/*===========================================*/
table {  
    color: #333; /* Lighten up font color */
    background: #FAFAFA; /* Lighter grey background */
    font-family: Helvetica, Arial, sans-serif; /* Nicer font */
    width: 400px; 
    border-collapse:  collapse; 
    border-spacing: 0; 
}

td, th { 
    /*border: 1px solid #CCC; */
    height: 30px; 
} /* Make cells a bit taller */

th {  
    background: #F3F3F3; /* Light grey background */
    font-weight: bold; /* Make sure they're bold */
    text-align: center; /* Center our text 

*/
}

td {  
    /*text-align: center;*/
}



/*===========================================*/
/*Tournament Group Standings Table Styles*/
/*===========================================*/

/*Giants Orange: #FC5D23*/
/*Chrome Yellow: #FFA705*/
/*Wageningen Green: #1FA52F*/
/*Dark Cerulean: #004284*/
/*Smoky Black: #0C0C0C*/
#tournamentStandings{
    text-align: center;
    table-layout: fixed;
}

#tournamentStandings th{
    background-color: #FFA705;
    color: #101010;
    vertical-align: middle;
}


/*===========================================*/
/*Rules Page and Rules Table Styles*/
/*===========================================*/

.introduction h2:first-child {
    margin-top: -10px;
}
.scoringExample{
    margin: 0 auto;
    text-align: center;
}


.scoringTable {
    border-collapse:collapse;
    border-spacing:0;
    padding: 0;
    border-radius: 10px;
    border: 3px solid #000000;
    background-color:#eee;
    font-size: 1em;
    /*padding:10px 5px;*/
    width: 85%;
    overflow:hidden;
    word-break:normal;
    color:#333;
    text-align: center;
    margin: 0 auto;
}

.scoringTable td:first-child { 
    text-align: left;
    padding-left: 5px;
}

/*Giants Orange: #FC5D23*/
/*Chrome Yellow: #FFA705*/
/*Wageningen Green: #1FA52F*/
/*Dark Cerulean: #004284*/
/*Smoky Black: #0C0C0C*/

/*.scoringTable-seedPicked{*/
/*    background-color:#BED8D4;*/
/*}*/
/*.scoringTable-winningSeed{*/
/*    background-color:#6EEB83;}*/
.scoringTable-totalPoints{
    background-color:#FFA705;
    font-weight: 700;
    /*color: #FEFEFE;*/
}
@media screen and (max-width: 767px) {
    .scoringTable col {
        width: auto !important;
    }
    .scoringTable-wrap {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}


/*==================================*/
/*Navbar styles*/
/*==================================*/

/*002851*/


/*Giants Orange: #FC5D23*/
/*Chrome Yellow: #FFA705*/
/*Wageningen Green: #1FA52F*/
/*Dark Cerulean: #004284*/
/*Smoky Black: #0C0C0C*/



/*active navbar color*/
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:focus, 
.navbar-inverse .navbar-nav > .open >a:hover{
/*color: #333333; */
background-color: #002851;
}

.navbar-inverse{
  background:#004284; /*Dark Cerulean: #004284*/
  color:#fff;
  margin: 0;
} 

.fa-basketball-ball {
    color: #FFA705; /*Chrome Yellow: #FFA705*/
}

.navbar-brand, .navbar-inverse .navbar-nav > li > a{
	color:#fff !important;
}
.navbar-inverse .navbar-nav li a:hover{
    text-decoration:underline
}

.dropdown:hover .dropdown-menu {
   display: block !important;
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #EEE;
        font-size: .9em;
    }
}

@media screen and (min-width: 992px) {
    .nav li:hover > .dropdown-menu {
        border: 1px solid #0C0C0C;
        border-top: none;
    	display: block;
    }
    
    /*triangle*/
    .navbar-inverse .navbar-nav > .dropdown:hover > a:after{
    	background: #004284; /*Dark Cerulean: #004284*/
        content: " ";
        display: block;
        height: 15px;
        left: 20px;
        position: absolute;
        top: 100%;
    	margin-top:-10px;
        transform: rotate(45deg);
        width: 15px;
    	z-index:10001;
    }
}




/*====================================================*/
/*    bracketIcons on tournamentGroup/Landing page    */
/*====================================================*/

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?y8wlow');
  src:  url('fonts/icomoon.eot?y8wlow#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?y8wlow') format('truetype'),
    url('fonts/icomoon.woff?y8wlow') format('woff'),
    url('fonts/icomoon.svg?y8wlow#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 2em;
  /*margin-right: -0.4em;*/
  position: relative;
  top: 0.25em;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bracketLeft:before {
  content: "\e900";
  padding-left: .4em;
}
.icon-bracketRight:before {
  content: "\e901";
}

.jumbotron.hero {
    background-color: #004284;
    padding: 20 0;
    margin-top: 1em;
}
.hero {
    position: relative;
    /*left: -1em;*/
    text-align: center;
    overflow: hidden; 
    color: #fcfcfc; 
}

.hero h1 {
    font-family: 'Holtwood One SC', serif;
    font-weight: normal;
    font-size: 3.7em;
    margin:0 -0 20px;
    text-shadow:0 0 12px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;letter-spacing:-1px;
    
}
.hero p {
    font-family: 'Abel', sans-serif;text-transform: uppercase;
    color: #FFA705; letter-spacing: .4em;
    text-shadow:0 0 12px rgba(0, 0, 0, 0.5);
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 0px;
    margin-left: 0px;
}
.hero .intro {
    font-family: 'Holtwood One SC', serif;
    text-transform: uppercase;
    letter-spacing: 1px;font-size: 2.2em;
    margin-bottom:-10px;
}
.hero .year {
    color: #fff;
    letter-spacing: 20px;
    font-size: 2em;
    margin: -50px 0 10px;
}

.hero .tagline{
    margin-left: 10px;
}





/*===========================================================

ALL BRACKET CSS BEGINS HERE
==========================================================*/

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1.4em;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin: 0 0 100px 0;
    display: block;
}


/*bracketClub line 7571*/
/*bracket = "_3xqV1"*/
.bracket{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 1em
}

/*bracketClub line 7584*/
/*bracket = "_3xqV1"*/
@media screen and (min-width: 992px) {
    .bracket {
        -ms-flex-wrap:none;
        flex-wrap: none
    }
}

/*bracketClub line 7591*/
/*bracketContents = "sFIGM"*/
.bracketContents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%
}

/*bracketClub line 7602*/
/*bracketContents = "sFIGM"*/
@media screen and (min-width: 992px) {
    .bracketContents {
        width:45%
    }

    ._33faZ .bracketContents {
        width: 50%
    }
}

/*bracketClub line 7602*/
/*bracketQuadrant = "_1hQFd"*/
.bracketQuadrant {
    position: relative;
    margin-bottom: 1em
}

/*bracketClub line 7617*/
/*rightSide = "_17GBC"*/
/*leftSide = "pMJWF"*/
/*bracketQuadrant = "_1hQFd"*/
/*topRegion = "_3_DaP"*/
/*bottomRegion = "_3zYlu"*/
@media screen and (min-width: 992px) {
    .bracketQuadrant.topRegion {
        margin-bottom:1em
    }

    .bracketQuadrant.bottomRegion {
        margin-bottom: 0;
        margin-top: 1em
    }

    .leftSide .bracketQuadrant.topRegion:after {
        right: 0
    }

    .rightSide .bracketQuadrant.topRegion:after,.leftSide .bracketQuadrant.topRegion:after {
        content: " ";
        position: absolute;
        width: 1px;
        background: #ccc;
        height: calc(100% + 2em);
        top: 50%
    }

    .rightSide .bracketQuadrant.topRegion:after {
        left: 0
    }
}

/*bracketClub line 7645*/
/*regionLocation = _3FcXm*/
.regionLocation {
    margin: 0;
    font-size: 1.5em
}

/*bracketClub line 7650*/
/*regionLocation = _3FcXm*/
@media screen and (min-width: 992px) {
    .regionLocation {
        position:absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        padding-right: .5em
    }
}

/*bracketClub line 7660*/
/*bracketRegion = "_3z2NV"*/
/*centerRegion = "dfBsL"*/
/*regionLocation = _3FcXm*/
@media screen and (min-width: 992px) {
    ._61LDI .regionLocation {
        left:auto;
        right: auto;
        right: 50%
    }

    .centerRegion .regionLocation {
        left: auto;
        right: auto;
        right: 33.333333333333336%
    }

    ._1qo06 .regionLocation {
        left: auto;
        right: auto;
        right: 25%
    }

    .bracketRegion .regionLocation {
        left: auto;
        right: auto;
        right: 20%
    }

    ._3WTEQ .regionLocation {
        left: auto;
        right: auto;
        right: 16.666666666666664%
    }
}

/*bracketClub line 7692*/
/*regionRounds = "_3s8JZ"*/
/*oneRound = aZ3XJ*/
.regionRounds,.oneRound {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

/*bracketClub line 7698*/
/*oneRound = aZ3XJ*/
.oneRound {
    width: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: .5em;
    padding-right: .5em
}

/*bracketClub line 7711*/
/*oneRound = aZ3XJ*/
.oneRound:first-child {
    padding-left: 0
}

/*bracketClub line 7715*/
/*oneRound = aZ3XJ*/
.oneRound:last-child {
    padding-right: 0
}

/*bracketClub line 7719*/
/*leftSide = "pMJWF"*/
/*rightSide = "_17GBC"*/
/*oneRound = aZ3XJ*/
@media screen and (min-width: 992px) {
    .leftSide .oneRound:last-child {
        padding-right:.5em
    }

    .rightSide .oneRound:first-child {
        padding-right: 0;
        padding-left: .5em
    }

    .rightSide .oneRound:last-child {
        padding-right: .5em;
        padding-left: .5em
    }
}

/*bracketClub line 7735*/
/*match = ._3MiK3*/
.match {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: relative;
    padding-top: .5em;
    padding-bottom: .5em
}

/*bracketClub line 7753*/
/*topRegion = "_3_DaP"*/
/*oneRound = aZ3XJ*/
/*match = _3MiK3*/
.topRegion .oneRound:last-child .match {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 0;
    margin-bottom: 0
}

/*bracketClub line 7761*/
/*bottomRegion = "_3zYlu"*/
/*oneRound = aZ3XJ*/
/*match = _3MiK3*/
.bottomRegion .oneRound:last-child .match {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 0;
    margin-top: 0
}

/*bracketClub line 7769*/
/*oneRound = aZ3XJ*/
/*match = _3MiK3*/
/*bracketContents = "sFIGM"*/
.bracketContents .oneRound:first-child .match:before {
    content: " ";
    position: absolute;
    border-right: 1px solid #ccc;
    border-left: none;
    top: calc(50% - .125em - 15px);
    height: calc(.25em + 30px);
    right: -.5em;
    left: 0
}

/*bracketClub line 7780*/
/*oneRound = aZ3XJ*/
/*match = _3MiK3*/
/*bracketContents = "sFIGM"*/
.bracketContents .oneRound:not(:first-child):not(:last-child) .match:before {
    content: " ";
    position: absolute;
    border-right: 1px solid #ccc;
    border-left: none;
    top: 25%;
    height: 50%;
    right: -.5em;
    left: 0
}

/*bracketClub line 7791*/
/*rightSide = "_17GBC"*/
/*oneRound = aZ3XJ*/
/*match = _3MiK3*/
@media screen and (min-width: 992px) {
    .rightSide .oneRound:first-child .match:before {
        content:" ";
        position: absolute;
        border-left: 1px solid #ccc;
        border-right: none;
        top: calc(50% - .125em - 15px);
        height: calc(.25em + 30px);
        left: -.5em;
        right: 0
    }

    .rightSide .oneRound:not(:first-child):not(:last-child) .match:before {
        content: " ";
        position: absolute;
        border-left: 1px solid #ccc;
        border-right: none;
        top: 25%;
        height: 50%;
        left: -.5em;
        right: 0
    }
}

/*bracketClub line 7815*/
/*team = gNKMM*/
.team {
    position: relative;
    height: 30px
}

/*bracketClub line 7820*/
/*oneRound = aZ3XJ*/
/*team = gNKMM*/
.oneRound:first-child .team:first-child {
    margin-bottom: .25em
}

/*bracketClub line 7824*/
/*oneRound = aZ3XJ*/
/*match = _3MiK3*/
/*team = gNKMM*/
.oneRound:not(:first-child):not(:last-child) .match .team:first-child {
    margin-top: -.5em
}

/*bracketClub line 7828*/
/*oneRound = aZ3XJ*/
/*match = _3MiK3*/
/*team = gNKMM*/
.oneRound:not(:first-child):not(:last-child) .match .team:last-child {
    margin-bottom: -.5em
}

/*bracketClub line 7832*/
/*topRegion = "_3_DaP"*/
/*oneRound = aZ3XJ*/
/*match = _3MiK3*/
/*team = gNKMM*/
.topRegion .oneRound:last-child .match .team {
    margin-top: -.5em
}

/*bracketClub line 7836*/
/*bottomRegion = "_3zYlu"*/
/*oneRound = aZ3XJ*/
/*match = _3MiK3*/
/*team = gNKMM*/
.bottomRegion .oneRound:last-child .match .team {
    margin-bottom: -.5em
}

/*bracketClub line 7840*/
/*oneRound = aZ3XJ*/
/*team = gNKMM*/
.oneRound:first-child .team:after {
    content: " ";
    position: absolute;
    height: 1px;
    width: .5em;
    background: #ccc;
    top: 50%;
    right: -.5em;
    left: auto
}

/*bracketClub line 7851*/
/*oneRound = aZ3XJ*/
/*team = gNKMM*/
.oneRound:last-child .team:before,.oneRound:not(:first-child):not(:last-child) .team:before {
    content: " ";
    position: absolute;
    height: 1px;
    width: .5em;
    background: #ccc;
    top: 50%;
    left: -.5em;
    right: auto
}

/*bracketClub line 7862*/
/*oneRound = aZ3XJ*/
/*team = gNKMM*/
.oneRound:not(:first-child):not(:last-child) .team:after {
    content: " ";
    position: absolute;
    height: 1px;
    width: .5em;
    background: #ccc;
    top: 50%;
    right: -.5em;
    left: auto
}

/*bracketClub line 7873*/
/*rightSide = "_17GBC"*/
/*oneRound = aZ3XJ*/
/*team = gNKMM*/
@media screen and (min-width: 992px) {
    .oneRound:last-child .team:after {
        content:" ";
        position: absolute;
        height: 1px;
        width: .5em;
        background: #ccc;
        top: 50%;
        right: -.5em;
        left: auto
    }

    .rightSide .oneRound:first-child .team:after,.rightSide .oneRound:last-child .team:before {
        content: " ";
        position: absolute;
        height: 1px;
        width: .5em;
        background: #ccc;
        top: 50%;
        left: -.5em;
        right: auto
    }
}

/*bracketClub line 7897*/
/*seed = "_3Z4EI"*/
.seed {
    font-size: .8em
}

/*bracketClub line 7901*/
/*teamName = "_3SRIZ"*/
/*seed = "_3Z4EI"*/
.teamName,.seed {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto
}

/*bracketClub line 7907*/
/*teamName = "_3SRIZ"*/
.teamName {
    padding-left: .3em;
    min-width: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

/*bracketClub line 7976*/
/*teamTitle = DQvkH*/
.teamTitle {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0 .25em;
    border: 1px solid #ccc;
    font-size: .8em;
    line-height: 2em;
    background: #f5f5f5;
    border-radius: 6px;
}

.teamTitle img{
    margin-top: 1px;
    height: 18px; 
    width: 18px; 
    margin-right: 2px;
    margin-left: -1px;
}


/*bracketClub line 7993*/
/*teamTitle = DQvkH*/
.teamTitle.pyVLs {
    cursor: pointer
}

/*bracketClub line 7997*/
/*teamTitle = DQvkH*/
.teamTitle.pyVLs:hover {
    text-decoration: none;
    background: #e95420;
    color: #fff
}

/*bracketClub line 8003*/
/*teamTitle = DQvkH*/
.teamTitle._3wT0L,.teamTitle.S_l9v {
    text-decoration: line-through
}

/*bracketClub line 8007*/
/*teamTitle = DQvkH*/
.teamTitle._3wT0L {
    background: #df382c
}

/*bracketClub line 8011*/
/*teamTitle = DQvkH*/
.teamTitle._3wT0L .pIPpI {
    color: #333
}

/*bracketClub line 8015*/
/*teamTitle = DQvkH*/
.teamTitle._194PJ {
    background: #38b44a
}

/*bracketClub line 8019*/
/*teamTitle = DQvkH*/
.teamTitle._194PJ .pIPpI {
    color: #333
}

/*bracketClub line 8023*/
/*teamTitle = DQvkH*/
.teamTitle._7FN-y {
    position: absolute;
    top: -14px;
    left: 0;
    border: none;
    background: transparent;
    width: 100%;
    font-size: .8em!important;
    line-height: 1em!important
}

/*bracketClub line 8056*/
/*rightSide = "_17GBC"*/
/*bracketRegion = "_3z2NV"*/
/*centerRegion = "dfBsL"*/
/*regionLocation = _3FcXm*/
/*regionRounds = "_3s8JZ"*/
/*teamTitle = DQvkH*/
/*teamName = "_3SRIZ"*/
@media screen and (min-width: 992px) {
    .teamTitle .championshipImage{
        height: 50px; 
        width: 50px; 
        margin-top: 3px;
    }
    
    .championshipSide .teamTitle img{
        margin-left: 2px;
        margin-right: 2px;
}
    
    .rightSide .teamTitle img{
        margin-left: 2px;
        margin-right: -1px;
    }
    .rightSide {
        text-align:right
    }

    .rightSide ._61LDI .regionLocation {
        left: auto;
        right: auto;
        left: 50%
    }

    .rightSide .centerRegion .regionLocation {
        left: auto;
        right: auto;
        left: 33.333333333333336%
    }

    .rightSide ._1qo06 .regionLocation {
        left: auto;
        right: auto;
        left: 25%
    }

    .rightSide .bracketRegion .regionLocation {
        left: auto;
        right: auto;
        left: 20%
    }

    .rightSide ._3WTEQ .regionLocation {
        left: auto;
        right: auto;
        left: 16.666666666666664%
    }

    .rightSide .regionLocation {
        right: auto;
        padding-right: 0;
        padding-left: .5em
    }

    .rightSide .regionRounds,.rightSide .teamTitle {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }

    .rightSide .teamTitle._7FN-y {
        left: auto;
        right: 0
    }

    .rightSide .teamName,.rightSide .pIPpI {
        padding-left: 0;
        padding-right: .3em
    }

    .rightSide .pIPpI {
        margin-right: auto;
        margin-left: 0
    }
}



/*bracketClub line 8120*/
/*regionRounds = "_3s8JZ"*/
/*oneRound = aZ3XJ*/
@media screen and (max-width: 500px) {
    .regionRounds {
        overflow-x:scroll;
        -webkit-overflow-scrolling: touch;
        -webkit-scroll-snap-points-x: repeat(50%);
        -ms-scroll-snap-points-x: repeat(50%);
        scroll-snap-points-x: repeat(50%);
        -webkit-scroll-snap-type: mandatory;
        -ms-scroll-snap-type: mandatory;
        scroll-snap-type: mandatory
    }

    .oneRound {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
        flex: 1 0 50%
    }
}

/*bracketClub line 8139*/
/*championshipSide = "_8asn_"*/
/*regionLocation = _3FcXm*/
/*regionRounds = "_3s8JZ"*/
/*oneRound = aZ3XJ*/
/*match = _3MiK3*/
/*team = gNKMM*/
/*teamTitle = DQvkH*/
/*teamName = "_3SRIZ"*/
@media screen and (min-width: 992px) {
    .championshipSide {
        width:auto!important;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%)
    }

    ._33faZ .championshipSide {
        -webkit-transform: translateY(calc(-50% + 4em)) translateX(-50%);
        transform: translateY(calc(-50% + 4em)) translateX(-50%)
    }

    .championshipSide .regionLocation {
        display: none
    }

    .championshipSide .regionRounds {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .championshipSide .oneRound {
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        padding-left: 0;
        padding-right: 0
    }

    .championshipSide .oneRound:first-child {
        display: none
    }

    .championshipSide .match:after,.championshipSide .match:before,.championshipSide .team:after,.championshipSide .team:before {
        display: none!important
    }

    .championshipSide .match {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: unset;
        flex-direction: unset;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-top: 0;
        padding-bottom: 0
    }

    .championshipSide .team {
        min-width: 5vw;
        max-width: 10vw;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        margin-top: 0!important;
        margin-bottom: 0!important
    }

    .championshipSide .teamTitle {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .championshipSide .oneRound:not(:last-child) {
        margin-bottom: 1em
    }

    .championshipSide .oneRound:not(:last-child) .team:first-child {
        margin-right: .5em
    }

    .championshipSide .oneRound:not(:last-child) .team:last-child {
        margin-left: .5em
    }

    .championshipSide .oneRound:not(:last-child) .team .pIPpI {
        margin-left: 0;
        margin-right: 0
    }

    .championshipSide .oneRound:not(:last-child) .team:last-child .teamTitle {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }

    .championshipSide .oneRound:not(:last-child) .team:last-child .teamName,.championshipSide .oneRound:not(:last-child) .team:last-child .pIPpI {
        padding-left: 0;
        padding-right: .3em
    }

    .championshipSide .oneRound:last-child .match {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .championshipSide .oneRound:last-child .team {
        height: auto;
        min-width: calc(10vw + 1em);
        max-width: calc(20vw + 1em)
    }

    ._33faZ .championshipSide .oneRound:last-child .team {
        min-width: 20vw;
        max-width: 23vw
    }

    .championshipSide .oneRound:last-child .teamTitle {
        width: auto;
        padding: 0 .5em;
        font-size: 2em
    }

    .championshipSide .oneRound:last-child .teamTitle._7FN-y {
        top: auto;
        bottom: -14px;
        right: 0;
        left: 0
    }
}

/*===================================================*/
/*UserMatchAggregate CSS*/
/*===================================================*/

/*tr {*/
/*    background-color: rgba(50, 180, 50, 0.5);*/
/*}*/

.aggregate {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 0 3px;
    border: 1px solid rgb(102, 102, 102);;
    border-left: 2px solid rgb(102, 102, 102);
    border-right: 2px solid rgb(102, 102, 102);
}

.bonAggregate {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 0 3px;
    border: 2px solid rgb(102, 102, 102);
}

.aggregate:first-child {
    border-top: 2px solid rgb(102, 102, 102);

}
.aggregate:last-child {
    border-top: none;
    border-bottom: 2px solid rgb(102, 102, 102);
}

.aggregate ul, .bonAggregate ul {
    padding-left: 10px;
    list-style-type: none;
}

.bonAggregate .teamHeader {
    text-align: center;
}

.teamHeader{
    display: inline-block;
}
.aggregate ul, .bonAggregate ul{
    line-height: 1.45em;
}

.win {
    background-color: rgba(50, 225, 50, 0.75);
}

.loss {
    background-color: rgba(225, 50, 50, 0.75);
}

.noWin {
    background-color: rgba(225, 225, 50, 0.75);
}

#pup {
    width: 200px;
    z-index: 200; 
}

/*the bonusPicks are only useful for hovering, so we won't show on phone/tablet layouts*/
.bonusPicks{
    display: none;
}

@media screen and (min-width: 992px) {
    .championPicks{
        position: absolute;
        margin: -250px 0 0 -150px;
        display: inline;
        border-collapse: collapse;
        left: 50%;
        width: 300px;
    }
    .champAggregate {
        margin: 0 auto;
        width: 50%;
    }
    
    .bonusPicks {
        display: table;
        border-collapse: collapse;
        width: 100%;
    }
    
    .spacer{
        position: relative;
    }
    .xlarge-grid {
        display: grid;
        grid-template-columns: 60px 60px 60px 60px 60px;
        width: 300px;
        margin: 0 auto;
    }
    
    .large-grid {
        display: grid;
        grid-template-columns: 60px 60px 60px 60px;
        width: 240px;
        margin: 0 auto;
    }
    
    .grid {
        display: grid;
        grid-template-columns: 60px 60px 60px;
        width: 180px;
        margin: 0 auto;
    }
    
    .grid-item img{
        position: relative;
        width: 60px;
        height: 60px;
        -webkit-filter: saturate(120%);
    	filter: saturate(120%);
    	z-index: 20;
    }
    .lost{
	    -webkit-filter: grayscale(100%);
    	filter: grayscale(100%);
    	opacity: .4;
    	
    }
    
    .bonusAggregate {
        display: table-cell;
    }
    
    .bonusRegion{
        text-align: center;
        font-size: 1.5em;
        margin: 0 auto;
    }
    
    
}



/*=============================*/
/*Tournament Group*/
/*=============================*/

/*Tournament Group Creation - Make Secret Code Pop Up*/
.reveal-if-active {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    font-size: 16px;
    -webkit-transform: scale(0.8);
          transform: scale(0.8);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.reveal-if-active label {
    display: block;
    margin: 0 0 3px 0;
}

.reveal-if-active input[type=text] {
    width: 100%;
}

input[type="radio"]:checked ~ .reveal-if-active, input[type="checkbox"]:checked ~ .reveal-if-active {
    opacity: 1;
    max-height: 100px;
    padding: 10px 20px;
    -webkit-transform: scale(1);
          transform: scale(1);
    overflow: visible;
}

form {
    max-width: 500px;
    margin: 20px auto;
}
form > div {
  margin: 0 0 20px 0;
}
form > div label {
  font-weight: bold;
}
form > div > div {
  padding: 5px;
}


.standingsInfo{
    /*float: left;*/
    /*width: 100%;*/
}

.joinOrPick form{
    margin-top: 10px;
}

.roundStartTimes{
    /*float: right;*/
    /*margin-right: 40px;*/
}


.navbar-fixed-left {
  /*width: 200px;*/
  float: left;
  /*position: fixed;*/
  border-radius: 10px;
}

.navbar-fixed-left .navbar-nav > li {
    /* Cancel default li float: left */
  float: none;  
  width: 100%;
}

.navbar-fixed-left + .container {
  padding-left: 200px;
}

.navbar-center {
    position: absolute;
    width: 400px;
    margin-top: 10px;
    left: calc(50% - 200px);
    border-radius: 10px;
    z-index: 2;
}

@media screen and (max-width: 992px) {

    /*still looks really bad...gotta fix*/
    .navbar-center {
        margin: 2px 5%;
        padding: 0 5px;
        position: relative;
        width: 96%;
        margin-top: 10px;
        border-radius: 10px;
        z-index: 2;
    }
}

