<% include ../partials/header %>


<!--=========================================-->
<!--Change to  TOURNAMENTs-->
<!--=========================================-->

<header class="jumbotron">
    <div class="container">
        <h1>Welcome to MMM!</h1>
        <p>View our historical tournaments</p>
        <p>
            <!--make this only if admin????-->
            <a class="btn btn-primary btn-lg" href="/tournaments/new">Add New Tournament</a>    
        </p>
    </div>
</header>

<div class="row itemDisplay">
    <div class="col-lg-12">
        <h3>Tournaments</h3>
    </div>
    <% tournaments.forEach(function(tournament) { %>
    
        <div class="col-md-3 col-sm-6">
            
            <h4><%= tournament.year %></h4>
                <p>
                    <!--Fix link to make it by year, not by id-->
                    <a href="/tournament/<%= tournament._id %>" class="btn btn-primary">More Info</a>
                </p>
            
        </div>    
    
    <% }); %>
</div>


<% include ../partials/footer %>