<% include ../partials/header %>

<!--=========================================-->
<!--Change to A SPECIFIC TOURNAMENT-->
<!--=========================================-->

<h4><%=tournament.year%></h4>
<h4><%=tournament.numTeams%></h4>

<% for(var i = 0; i < tournament.rounds.length; i++) { %>
    <% for(var j = 0; j < tournament.rounds[i].matches.length; j++) { %>
        <% for(var k = 0; k < tournament.rounds[i].matches[j].teams.length; k++) { %>
            <h5><%=tournament.rounds[i].matches[j].teams[k].seed%>) <%=tournament.rounds[i].matches[j].teams[k].name%></h5>
        <% } %>
    <% } %>
<% } %>



<% include ../partials/footer %>